.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.794), rgba(40, 180, 133, 0.774)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    //prefix
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    //coords from top left, 100% in X direction 0 in the Y - clockwize kornerz
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* offset element for center to be at center of parent */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}